#page-wrapper
  .row
    .col-lg-12
      %h1.page-header Book details
  .row
    .col-md-2
      = image_tag(@book.cover_image.url(:medium))
    .col-md-10
      %strong Title :
      = @book.title
    .col-md-10
      %strong Author :
      = @book.author